@{
    Layout = "_Layout.cshtml";
}

<div class="cover-section row">
    <div class="cover-image" style="background-image: url(@ViewBag.HeroImageUrl)"></div>
    <div class="cover-text">
        @RenderSection("CoverContent")
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <!-- Main view -->
    @RenderBody()
</div>

@RenderSection("scripts", required: false)